body, html{
  max-width: 1100px;
  height: 950px;
  margin: 0 auto;
  background-image: url("alyeska2.jpg");
  background-position: center;

}
.container{
  position: relative;
  clear: both;
  width: 100%;
  height: 100%;
  background-color: white;
}
.left{
  width: 25%;
  float: left;
  padding: 15px;
}
.main{
  width: 40%;
  float: left;
  padding: 15px;
}
.right{
  float: left;
}
.contact{
  position: absolute;
  top: 30px;
  width: 250px;
  border: solid black 2px;
}
.info{
  position: absolute;
  top: 350px;
  margin: 15px 10px 0 0;
  border: solid black 2px;
}
.image1{
  position: absolute;
  bottom: 15px;
  background-image: url("pointup.jpg");
  background-size: cover;
  width: 250px;
  height: 250px;
}
.image2{
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url("HandE.jpg");
  background-size: cover;
  width: 300px;
  height: 300px;
}
.image3{
  position: absolute;
  top: 100px;
  background-image: url("snowday.jpg");
  background-size: cover;
  height: 500px;
  width: 430px;
}
.caption{
  position:absolute;
  bottom: 0px;
  margin: 0px;
  color: white;
  height:50px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
.ethans_carousel{
  position: absolute;
  top: 625px;
}
h1{
  font-family: 'Trade Winds', cursive;
  color: rgb(36, 122, 198);
  text-align: center;
}
h3{
  font-family: 'Trade Winds', cursive;
  text-align: center;
}
p{
  padding: 15px 15px 15px 15px;
  margin: 0px;
}
